beautifulsoup4==4.12.3
bs4==0.0.2
defusedxml==0.7.1
et-xmlfile==1.1.0
html5lib==1.1
lxml==5.1.0
numpy==1.26.0
odfpy==1.4.1
odswriter==0.4.0
openpyxl==3.1.2
pandas==2.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
six==1.16.0
soupsieve==2.5
tzdata==2023.3
webencodings==0.5.1
XlsxWriter==3.1.6